

.search_bar{
    display: flex;
    flex-direction: column;
    position: relative;
}

.search_input{
    border: none;
    color: #ffffff;
    background-color: rgba(124, 121, 121, 0.329);
    font-size: medium;
    font-family: Arial, Arial, Helvetica, sans-serif;
    height: 34px;
    width: 300px;
    border-radius: 2px;
    outline: none;
    
}

.search_input::-webkit-search-cancel-button{
    -webkit-appearance: none;
}

.search_input::selection{
    background-color: #ffffff;
    color: #000;
}

.search_result_content{
    z-index: 2;
    cursor: pointer;
    align-items: center;
}

.search_result_content:hover{
    background: rgb(121, 121, 121);
}

.search_result{
    /* bottom: 0; */
    background: rgba(102, 102, 102, 0.829);
    border-radius: 2px;
    max-width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    bottom: 515px;
    /* margin-top: 15px; */
    overflow-y: scroll;
    z-index: 1;
    position:fixed;
    padding: 0 0 0 0;
}

.search_container_result{
   align-items: center;
   
}

.search_container_result_img{
    width: 50px;
    height: 50px;
    margin: 10px;
    margin-bottom: 0;
    border-radius: 3px;
}

.search_container_result_name{
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 10px;
    text-align: center;
    font-size: large;
}

::-webkit-scrollbar {
    width: 0;
  }
